#pragma code_page(65001) // UTF-8

#include <resource.h>
#include <winuser.h>
#include <winver.h>
// #include <ntdef.h> // maybe not needed?

#mesondefine HAVE_ICONS
#mesondefine HAVE_UTF8CP
#if HAVE_ICONS
IDI_ICON ICON DISCARDABLE "icon_exe.ico"
IDI_DOC_ICON ICON DISCARDABLE "icon_cps.ico"
#endif
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

VS_VERSION_INFO VERSIONINFO
FILEVERSION @DISPLAY_VERSION_MAJOR@,@DISPLAY_VERSION_MINOR@,0,@BUILD_NUM@
PRODUCTVERSION @DISPLAY_VERSION_MAJOR@,@DISPLAY_VERSION_MINOR@,0,@BUILD_NUM@
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "CompanyName",      "https://powdertoy.co.uk/\0"
			VALUE "FileDescription",  "@APPNAME@\0"
			VALUE "FileVersion",      "@DISPLAY_VERSION_MAJOR@.@DISPLAY_VERSION_MINOR@.0.@BUILD_NUM@\0"
			VALUE "OriginalFilename", "@APPEXE@.exe\0"
			VALUE "LegalCopyright",   "@MANIFEST_COPYRIGHT@\0"
			VALUE "ProductName",      "@APPCOMMENT@\0"
			VALUE "ProductVersion",   "@DISPLAY_VERSION_MAJOR@.@DISPLAY_VERSION_MINOR@.0.@BUILD_NUM@\0"
			VALUE "InternalName",     "@APPID@\0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 65001
	}
}
